{% extends "base.html" %}

{% block content %}
  <div class="row">
    <div class="col-md-12">
      {% for task in task_list %}
        <div class="list-group mb-3">
          <div class="list-group-item d-flex justify-content-between align-items-center">
            <p>{{ task.content }} | {% if task.completed %}<span class="alert-success">Done</span> {% else %} <a class="alert-danger">Not Done</a> {% endif %}</p>
            <div class="btn-group" role="group">
              {% if task.completed %}
                <a class="btn btn-secondary btn-sm" href="{% url "todo:change_task_status" pk=task.pk %}">Undo</a>
              {% else %}
                <a class="btn btn-primary btn-sm" href="{% url "todo:change_task_status" pk=task.pk %}">Complete</a>
              {% endif %}
            </div>
          </div>
          <div class="list-group-item">
            <p>Created: {{ task.created_at }}</p>
          </div>
          <div class="list-group-item">
            <p class="text-secondary">Tags: {% for tag in task.tags.all %} <span class="badge bg-secondary text-light">{{ tag.name}}</span> {% endfor %}
              <a href="/">Update</a> <a href="">Delete</a>
            </p>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}
